body {
    background-image: url(../images/cost-background.jpg);
    background-size: cover;
  }
.container{
    background-color: seashell;
    margin: auto ;
    padding: 3%;
    width: 70%;
}
h1{
    margin-left: 38%;
}
.rowTop {           
    margin-top: 15px;   
}    
      
.rowBottom {     
    margin-top: 15px;    
}   
  
#fname , #lname, #email{
    width: 95%;    
    padding: 12px;        
}   

#destination{
    width: 97%;
    padding: 12px;
}

#feedback{
    height: 200px;
    width: 95%;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#submit{
    margin-top: 2%;
    margin-left: 45%;
    padding: 12px;
    font-weight: bolder;
}