body{
    margin: 0;
    background-color: aliceblue;
}

#logo{
    height: 40px;
    width: auto;
    
}
header{
    background-color: rgb(66, 66, 66);
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
nav{
    color: blanchedalmond;
    float: right;
    text-decoration: none;
    font-family:monospace;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 40px;
}

nav > a{
    text-decoration: none;
    padding-right: 60px;
    color: white;
}

nav > a:hover{
    color:grey;
}

nav > a:active{
    color:rgb(101, 141, 143);
}

.homediv1{
    height: 400px;
    background-image: url("../picture/home.jpg");
    background-size:cover;
}

.kyotomaindiv{
    display: grid;
    grid-template-rows: 4;
}
.kyotodiv1{
    grid-row: 1;
    height: 400px;
    background-image: url("../picture/kyoto-osaka.jpg");
    background-size:cover;
}
.kyotodiv2{
    grid-row: 2;
    margin-top: 20px;
    background-color: lightgray;
    text-align: center;
}
.kyotodiv3{
    grid-row: 3;
}
.kyotodiv4{
    grid-row: 4;
    padding: 50px;
    text-align: center;
    
}

.sabahdiv1{
    height: 400px;
    background-image: url("../picture/sabah.jpg");
    background-size:cover;
}
.sabahdiv2{
    background-color: lightgray;
    text-align: center;
}

.homediv2{
    border-bottom-style: inset;
    border-top-style:outset;
    height:500px;
}

.homepic1{
    border-radius: 50px;
    float: right;
    height: 500px;
    width: auto;
}

.paragraph1{
    padding: 20px;
    color: dimgray;
    float: left;
    width : 1000px;
    line-height: 28px;
}

.homepic2{
    border-radius: 50px;
    float: left;
    height: 500px;
    width: auto;
}

.paragraph2{
    padding: 20px;
    padding-right: 150px;
    color: dimgray;
    float: right;
    width : 1000px;
    line-height: 30px;
}
h1{
    color:dimgray;
}
.ti{
    font-size: 30px;
}
section{
    float: left;
}
ul {
    list-style: none;
    vertical-align: text-top;
    text-align: center;
}
.imgforall{
    padding-left: 50px;
    padding-right: 50px;
    width: 200px;
    height: 200px;
}

.lfr{
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 250px;
    float: right;
}
.fff{
    width: 1200px;
    margin:auto;
}
.desc{
    margin-right: 250px;
    margin-left: 100px;
    float: right;
    text-align: left;
    width: 1200px;
    line-height: 30px;
    font-size: 25px;
}
.vidf{
    text-align: center;
}
.interest{
    margin-left: 42%;
    margin-right: 40%;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    border-style: solid;
    border-radius: 6px;
    text-decoration: none;
    color: dimgray;
    background-color: lightgray;
}
.interest:hover{
    background-color: white;
    color:slategray ;
}

